output/generated_workflows/when_a_new_shopify_order_comes_in_log_t_20251210_220052.json
{
  "name": "Shopify Order to Google Sheets and Slack",
  "nodes": [
    {
      "name": "Shopify Trigger",
      "type": "n8n-nodes-base.shopifyTrigger",
      "position": [
        300,
        300
      ],
      "parameters": {
        "topic": "orders/create"
      },
      "credentials": {
        "shopifyApi": "{{CRED_SHOPIFY}}"
      },
      "typeVersion": 1,
      "id": "1"
    },
    {
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        600,
        300
      ],
      "parameters": {
        "operation": "append",
        "spreadsheetId": "YOUR_SPREADSHEET_ID",
        "sheetName": "Sheet1",
        "options": {},
        "values": {
          "string": [
            "={{$json[\"id\"]}}",
            "={{$json[\"name\"]}}",
            "={{$json[\"email\"]}}",
            "={{$json[\"total_price\"]}}",
            "={{$json[\"created_at\"]}}"
          ]
        }
      },
      "credentials": {
        "googleApi": "{{CRED_GOOGLE_SHEETS}}"
      },
      "typeVersion": 2,
      "id": "2"
    },
    {
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        900,
        300
      ],
      "parameters": {
        "text": "New Shopify Order!",
        "channel": "#general",
        "attachments": [
          {
            "color": "#36a64f",
            "fields": {
              "item": [
                {
                  "short": true,
                  "title": "Order ID",
                  "value": "={{$json[\"id\"]}}"
                },
                {
                  "short": true,
                  "title": "Name",
                  "value": "={{$json[\"name\"]}}"
                },
                {
                  "short": true,
                  "title": "Email",
                  "value": "={{$json[\"email\"]}}"
                },
                {
                  "short": true,
                  "title": "Total Price",
                  "value": "={{$json[\"total_price\"]}}"
                },
                {
                  "short": false,
                  "title": "Created At",
                  "value": "={{$json[\"created_at\"]}}"
                }
              ]
            }
          }
        ]
      },
      "credentials": {
        "slackApi": "{{CRED_SLACK}}"
      },
      "typeVersion": 1,
      "id": "3"
    },
    {
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        600,
        450
      ],
      "parameters": {
        "message": "Workflow execution error",
        "options": {}
      },
      "typeVersion": 1,
      "id": "4"
    }
  ],
  "connections": {
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "Slack": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC",
    "executionTimeout": 3600
  },
  "active": false
}